body {
    background-color: powderblue;
    font-family: verdana;
    font-size: 100%;
}

h1 {
    color: blue;
    font-family: courier;
    font-size: 100%;
}

p {
    color: red;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
}

test {
    color: white
}

p.test2{
    color: green
}
