/* Base */

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: larger;
  text-align: center;
  color: #FFFFFF;
}

body {
  background-color: #000000;
}

/* Header */

header {
  text-align: left;
}

header img {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px); /* for Safari browsers */
}

nav {
  position: relative;
  text-align: center;
  padding: 15px 0 0 0;
}

nav a {
  padding: 0 20px 0 20px;
  color: #FFFFFF;
}

#title {
  position: relative;
  text-align: center;
}

/* Main */

main {
  position: relative;
  margin: 0 auto 0 auto;
  width: 70%;
  text-align: center;
}

/* main::after {
  content: "";
  display: table;
  clear: both;
} */

#pic {
  text-align: center;
}

#pic img {
  width: 250px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  margin: 3% auto 0 auto;
}

a {
  text-decoration: none;
  color: #3646ff;
}

a:hover{
  color: #808080;
  transition: .3s;
}

/* Footer */

footer {
  position: relative;
}

.icon i {
  font-size: 2em;
}

#social .fas, .far, .fab {
  padding: 10px 20px 20px 10px;
}

.fas, .far, .fab {
  color: #FFFFFF;
}

.fas:hover, .far:hover, .fab:hover {
  color: #808080;
  transition: .3s;
}

/* Media Query */

@media only screen and (max-width: 800px) {
  #pic img {
    width: 75%;
  }

  .icon i {
    font-size: 1em;
  }
}

/* #social a {
	background: #D2D7D3;
	color: #222;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 40px;
	height: 28px;
	margin: 0 2px;
	padding-top: 12px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
a.icon::before{
	font-family: "Font Awesome Brands", sans-serif;
	color: #fff;
	font-size: 20px;
}
a.facebook::before{
	content: "\f09a";
}
a.instagram:before{
	content: '\f16d';
}
a.github:before{
	content: '\f113';
}
a.linkedin:before{
	content: '\f17d';
}
a.email:before{
	content: '\f0d2';
}

a span{
	background: #fff;
	color: #222;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: -25px;
	right: -25px;
	padding: 5px 7px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .4s;
	transition: all .4s;
}
a span:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	bottom: -5px;
	left: 40px;
}
a:hover span{
	bottom: 50px;
	visibility: visible;
	opacity: 1;
}

a.facebook:hover{
	background-color: #4183d7;
	color: #bfbfbf;
}
a.facebook span{
	color: #4183d7;
}
a.github:hover{
	background-color: #000;
	color: #fff;
}
a.github span{
	color: #000;
}
a.instagram:hover{
	background-color: #f62459;
	color: #fff;
}
a.instagram span{
	color: #f62459;
}
a.linkedin:hover{
	background-color: #f22613;
	color: #ff0000;
}
a.linkedin span{
	color: #f22613;
} */
